pkgbase = warp-terminal
	pkgdesc = Warp: The intelligent terminal.
	pkgver = 0.2024.11.19.08.02.stable.01
	pkgrel = 1
	arch = x86_64
	source = https://releases.warp.dev/stable/v0.2024.11.19.08.02.stable_01/warp-terminal_0.2024.11.19.08.02.stable.01_amd64.deb
	source = warp-terminal-bin.desktop
	source = warp-terminal.png
	md5sums = SKIP
	md5sums = a57b804ac5eea9b4e6d5a42b072b8740
	md5sums = 31a8d1707a3015c8ff04e5855deb369d

pkgname = warp-terminal
